li.wide {
  flex-basis: 100% !important;
}

.ended {
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.entities {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.33em;

  & > div {
    width: 3em;
    height: 3em;
  }
}
