.details {
  & h2 {
    margin: 0px;
    font-size: 16px;
  }

  & ul {
    margin: 0px;
    padding: 0.66em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.33em 0.66em;
    list-style-type: none;

    & li {
      flex-basis: 100%;
      min-width: min(100%, 150px);
      list-style-type: none;

      @media (--mq-medium) {
        flex-basis: 45%;
      }
    }
  }

  &.ended {
    opacity: 0.5;
    &:hover {
      transition: opacity 250ms ease-in-out;
      opacity: 1;
    }
  }
}

.list {
  margin: 0px;
  padding: 0.66em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  list-style-type: none;

  & > li {
    width: 100%;
    padding: 0.33em;
    list-style-type: none;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: var(--dark);
    }
  }
}
