.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.33em 0px;

  &:not(.top) {
    flex-wrap: wrap;
  }
  &.top {
    flex-wrap: wrap-reverse;
  }
}

.buttonCell,
.infoCell {
  display: flex;
  align-items: center;
  padding: 0.33em;
}

.buttonCell {
  flex-basis: 100%;
  justify-content: center;
  gap: 0.33em;

  button {
    &.selected {
      border: 1px solid theme(colors.hover);
      color: hover;
    }
    &.noFilter {
      opacity: 1;
      filter: unset;
    }
    &.transparent {
      background: transparent;
      border: 0px;
    }
  }
}

.infoCell {
  flex-basis: [100%, 45%];
  justify-content: [center, flex-start];
}

.arrow {
  svg {
    fill: theme(colors.primary);
    transform: rotate(90deg);
  }
  &.flip {
    svg {
      transform: rotate(-90deg);
    }
  }
  &:hover:not(:disabled) svg {
    fill: theme(colors.hover);
  }
}
