.link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid var(--bg-dark);
  border-radius: 8px;
  padding: 1.5rem;
  background-color: var(--bg-primary);
  box-shadow:
    inset 0px 2px 4px var(--bg-light),
    2px 2px 6px var(--dark);
  transition:
    color 250ms ease-in-out,
    border-color 250ms ease-in-out;
  min-width: 100%;
  max-width: 100%;

  @media (--mq-small) {
    min-width: 40%;
    flex-basis: 180px;
  }

  @media (--mq-medium) {
    flex-basis: 220px;
  }

  &:hover {
    border-color: var(--hover);
    text-decoration: none;
  }

  & h2 {
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  & img {
    display: block;
    width: 96;
    height: 96px;
    object-fit: contain;
    margin: auto;
  }
}
