.formGrid {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.33em;
  row-gap: 0.66em;
  margin: 0.66em 0px;

  @media (--mq-medium) {
    grid-template-columns: repeat(3, 1fr);
    &.withFourthCol {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.selectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.33em 0px;
}

.cardWrapper {
  grid-column: span 1;

  @media (--mq-small) {
    grid-column: span 2;
  }
}
