.input {
  padding: 0.33em;
  background-color: background-blue;
  background-image: linear-gradient();
  border: 1px solid theme(colors.ui-light);
  border-radius: 0.33em;
  color: inherit;
  box-shadow: inset 1px 1px 4px theme(colors.background-dark),
    0px 0px 4px theme(colors.background-dark);

  &.invalid {
    color: #f00;
    border-color: #f00;
    box-shadow: inset 1px 1px 4px #f00a, 0px 0px 4px #f00a;
  }
}
