.footer {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1.66em 0.66em;
  color: primary;
  font-size: 0.8em;
  background-color: background-dark;
  backdrop-filter: blur(5px);
  box-shadow: 0px -2px 4px theme(colors.background-dark);
  user-select: none;

  @media (--mq-small) {
    padding: 0.66em;
  }

  @media (--mq-medium) {
    font-size: 0.66em;
  }

  &.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  & a {
    color: hover;
  }
}
