.header {
  display: block;
  margin: 0.83em 0px;
  background: transparent;
  border: 0px;
  color: primary;
  font-family: title;
  font-weight: 700;
  font-size: 1.5em;

  svg {
    fill: theme(colors.primary);
    transition: transform 0.125s ease-in-out;
  }

  &.open svg {
    transform: rotate(-90deg);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.66em 0px;

  th {
    font-weight: 700;
  }

  th,
  td {
    padding: 0.33em;
  }
}
