.icon {
  position: relative;
  overflow: hidden;
  min-width: 1em;
  min-height: 1em;
  aspect-ratio: 1;
  border: 2px solid var(--border, transparent);
  border-radius: 12px;
  background-color: var(--bg, transparent);

  &.big {
    min-width: 2em;
    min-height: 2em;
  }
}
