.face,
.spoiler {
  position: absolute;
  inset: 0px;
  object-fit: contain;
  display: block;
}

.face {
  transition: filter 0.1s ease-in;

  &.hidden,
  &.prerendered {
    filter: blur(12px) grayscale(0.1);
  }
}

.spoiler {
  animation-name: fadein;
  animation-duration: 0.1s;
}

div:hover {
  & > span .face.prerendered {
    filter: blur(0px);
  }
  & > .spoiler.prerendered {
    display: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
