.face,
.spoiler {
  position: absolute;
  inset: 0px;
  object-fit: contain;

  transition: filter 0.2ms ease-in-out;
}

.spoiler,
div:hover > .prerendered + .spoiler {
  display: none;
}

.hidden,
.prerendered {
  filter: blur(12px);

  & + .spoiler {
    display: block;
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url("/assets/spoiler.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.75;
  }
}

div:hover > .prerendered {
  filter: blur(0px);
}
