.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.66em;

  @media (--mq-medium) {
    gap: 1.33em;
  }
}

.body {
  background-image: var(--landing-bg);
  background-size: cover !important;

  & > div[id="__next"] {
    background: radial-gradient(
        ellipse at top,
        rgba(46, 44, 106, 0.8),
        transparent
      ),
      radial-gradient(ellipse at bottom, rgba(104, 12, 95, 0.8), transparent);
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
  }
}
