.navWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 32px auto 32px;
  grid-auto-rows: 32px;
  margin-bottom: 0.66em;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 1.5em;
  }

  @media (--mq-small) {
    grid-template-columns: 48px auto 48px;
    grid-auto-rows: 48px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    fill: var(--primary);
  }

  &.left svg {
    transform: rotate(90deg);
  }
  &.right svg {
    transform: rotate(-90deg);
  }

  & > div {
    justify-content: center;
  }

  &:hover:not(:disabled) {
    & svg {
      fill: var(--hover);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.66em 0px;

  & > article {
    flex-basis: 100%;
    @media (--mq-medium) {
      flex-basis: 48.5%;
    }
    @media (--mq-large) {
      flex-basis: 100%;
    }
    @media (--mq-x-large) {
      flex-basis: 48.5%;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.66em;

  @media (--mq-small) {
    flex-direction: row;
    align-items: flex-start;
    gap: unset;
  }

  & > div {
    /* item wrapper */
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.33em;

    & > div {
      /* FGOIcon */
      width: 64px;
      height: 64px;
    }

    & > span {
      /* Item name display */
      text-align: center;
    }
  }
}
