.card {
  position: relative;
  max-width: 800px;
  flex: 1 1 400px;
  aspect-ratio: 8 / 3;
  text-decoration: none;
  user-select: none;

  &:hover {
    border-color: hover;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
