.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    max-width: 100%;
    width: 800px;
    height: auto;
  }
}

.table {
  tr > td:first-child {
    text-align: right;
    width: 50%;
  }
  tr > td:not(:first-child) {
    text-align: center;
    width: 25%;
  }
  .headerRow {
    font-size: 1.25em;
  }
}
