.header {
  width: 100%;
  margin-bottom: 1.66em;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    max-width: 100%;
    width: 800px;
    height: auto;
  }
}

.table {
  tr > td {
    text-align: center;
    &:first-child {
      width: 50%;
    }
    &:not(:first-child) {
      width: 25%;
    }
  }
  .headerRow {
    font-size: 1.25em;
  }
}
