html,
body,
#__next {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

body {
  background-color: background-blue;
  background-image: radial-gradient(
      ellipse at top,
      theme(colors.background-blue),
      transparent
    ),
    radial-gradient(
      ellipse at bottom,
      theme(colors.background-purple),
      transparent
    ),
    linear-gradient(
      to top,
      theme(colors.background-light-blue),
      theme(colors.background-light-blue)
    );
  background-size: 100%;
  background-attachment: fixed;
  font-family: sans;
  color: primary;
}

#next {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: hover;
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  font-family: title;
  font-weight: 700;
}

img {
  max-width: 100%;
  user-select: none;
}

::selection {
  background: #680c5f80;
}
