html,
body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: #2e2c6a;
  background-image: radial-gradient(ellipse at top, #2e2c6a, transparent),
    radial-gradient(ellipse at bottom, #680c5f, transparent),
    linear-gradient(to top, #2e627a, #2e627a);
  background-size: 100%;
  background-attachment: fixed;
  font-family: sans;
  color: primary;
}

#next {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: hover;
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  font-family: title;
  font-weight: 700;
}

img {
  max-width: 100%;
}
