.formSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.66em;
  position: relative;
  margin: 0.66em 0px;
  min-height: 160px;

  &.isPending {
    & > :not(.pending) {
      opacity: 0;
    }

    & > .pending {
      position: absolute;
      inset: 0px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: space-around;
    }
  }

  & fieldset {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &.wrap {
      flex-flow: row wrap;
    }
  }

  & button.classSel {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px 4px;
    & > img {
      margin: 0px;
    }
    &.unselected {
      opacity: 0.5;
    }
  }
}
