.hero {
  background-color: var(--bg);
  position: relative;
  width: 100%;
  height: 75px;
  margin-bottom: 46px;

  & .icon {
    position: absolute;
    left: 12px;
    top: 20px;
    padding: 12px;
    border-radius: 100%;
    background: linear-gradient(
      to bottom,
      var(--bg-primary) 56px,
      transparent 58px
    );
    overflow: hidden;
  }

  & .icon > img {
    object-fit: cover;
    border-radius: 100%;
  }
}
