.hero {
  & section {
    background-color: var(--bg);
    position: relative;
    width: 100%;
    height: 75px;
    margin-bottom: 25px;

    & img {
      position: absolute;
      left: 12px;
      top: 20px;
      border-radius: 100%;
      border: 12px solid var(--bg-primary);
    }
  }
}
