.card {
  user-select: text;
  font-size: 14px;
  border: 2px solid var(--border, var(--light));
  border-radius: 1.5em;
  overflow: hidden;
  background-color: var(--bg-primary);
  background-image: radial-gradient(
      ellipse at bottom,
      var(--bg-primary),
      transparent
    ),
    linear-gradient(
      to bottom,
      var(--bg-primary),
      var(--bg-primary) 85px,
      var(--bg-light)
    );
  box-shadow: 3px 3px 7px var(--dark);

  & h1 {
    width: 100%;
    text-align: center;
    font-size: 1.75em;
    padding: 0px;
  }

  & h2 {
    padding: 0px 1.33em;
  }

  & > section {
    padding: 1.33em;
    & p {
      margin: 0.33em 0px;

      & + p {
        margin-top: 1em;
      }
    }
  }
}
