.section {
  margin-bottom: 1.66em;

  &:last-child {
    margin-bottom: 0px;
  }

  & > :first-child {
    margin-top: 0px;
  }

  & > :last-child {
    margin-bottom: 0px;
  }
}

.backgroundBlack {
  background-color: background-dark;
}

.backgroundBlue {
  border: 2px solid theme(colors.ui-light);
  border-radius: 1.5em;
  background-color: background-blue;
  background-image: radial-gradient(
      ellipse at bottom,
      theme(colors.background-blue),
      transparent
    ),
    linear-gradient(
      to bottom,
      theme(colors.background-blue),
      theme(colors.background-blue) 85px,
      theme(colors.background-light-blue)
    );
  box-shadow: 3px 3px 7px theme(colors.background-dark);
}

.padding {
  padding: 1.33em;
}
