.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.66em;
  padding: 20px [20px, 40px];
  user-select: none;
}

.inner {
  display: grid;
  grid-gap: 1.66em;
  width: 100%;
  max-width: [100%, 100%, 1600px];
  grid-template-columns: auto;

  &.desktop {
    grid-template-columns: 360px auto;
  }

  main {
    user-select: initial;
  }
}
