.list {
  margin: 0px;
  padding: 0.66em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  list-style-type: none;

  & h2 {
    margin: 0px;
    font-size: 16px;
  }

  & li,
  & ul {
    list-style-type: none;
  }

  & ul {
    margin: 0px;
    padding: 0.66em;
    display: flex;
  }
}

.item {
  width: 100%;
  padding: 0.33em;
  background-color: transparent;
  transition: background-color 250ms ease-in-out;
  border-radius: 6px;

  &:hover {
    background-color: var(--dark);
  }

  & > ul {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.33em 0.66em;

    & > li {
      flex-basis: 100%;
      min-width: min(100%, 150px);

      @media (--mq-medium) {
        flex-basis: 45%;
      }

      &[data-wide] {
        flex-basis: 100% !important;
      }
    }
  }

  &.ended {
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.entities {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.33em;
  margin-top: 0.33em;

  & > div,
  & > a {
    max-width: 100%;
    height: var(--entity-icon-size, 3em);
  }

  & > a {
    display: block;
    & > div {
      height: 100%;
    }
  }
}
