.floaters {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 0.66em;
  height: [54px, unset];
  padding: 0.45em 0.33em;
  user-select: none;
  font-size: [24px, 48px];

  &.inline {
    position: static;
    font-size: inherit;
    height: 100%;
    padding: 0px;
  }

  a,
  button {
    display: block;
    width: 1em;
    height: 1em;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;

    svg {
      fill: theme(colors.primary);
    }
  }
}

.buttonDiscord {
  transition: 0.125s ease-in-out;

  &:hover svg {
    fill: #5865f2;
  }
}

.button {
  transition: 0.125s ease-in-out;

  &:hover svg {
    fill: theme(colors.hover);
  }
}
