.time {
  position: absolute;
  top: 5.6666%;
  right: 0.75%;
  padding: 0.33em;
  color: primary;
  background-color: rgba(0, 0, 0, 80%);
  backdrop-filter: blur(2px);
  max-width: 98.5%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.icon {
  fill: theme(colors.primary);
  height: 1em;
  margin-right: 0.33ch;
}
