.button {
  display: block;
  border: 1px solid var(--light);
  border-radius: 0.5em;
  padding: 0.33em 0.66em;
  background-color: var(--bg-primary);
  background-image: radial-gradient(
    ellipse at bottom,
    var(--dark),
    transparent
  );
  color: var(--primary);

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    border-color: var(--hover);
    color: var(--hover);
  }

  &:disabled {
    opacity: 0.5;
    filter: grayscale(0.5);
    cursor: default;
  }
}
