.icon {
  display: inline-block;
  margin: -0.15em 0px -0.18em;
  height: 1.33em;
  width: 1.33em;
}

svg.icon {
  fill: var(--icon-fill, currentColor);
  transition: fill 250ms ease-in-out;
  &:hover {
    fill: var(--icon-hover, currentColor);
  }
}
