.headline {
  margin: 0.66em 0px;
  font-size: 2em;
  font-weight: 700;
  font-family: var(--title);
  text-align: center;
  max-width: 100%;
  overflow-wrap: break-word;

  &:first-child {
    margin-top: 0px;
  }

  @media (--mq-small) {
    font-size: 2.5em;
  }

  & a {
    color: inherit;
    text-decoration: none !important;
  }
}
