.cardgrid {
  & main {
    & h2 {
      margin: 0px;
      font-size: 16px;
    }

    & li,
    & ul {
      list-style-type: none;
    }

    & ul {
      margin: 0px;
      padding: 0.66em;
      display: flex;
    }

    & > ul {
      flex-flow: column nowrap;
      align-items: flex-start;

      & > li {
        width: 100%;
        padding: 0.33em;
        background-color: transparent;
        transition: background-color 250ms ease-in-out;

        &:hover {
          background-color: var(--dark);
        }

        & > ul {
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          gap: 0.33em 0.66em;

          & > li {
            flex-basis: 100%;
            min-width: min(100%, 150px);

            @media (--mq-medium) {
              flex-basis: 45%;
            }
          }
        }
      }
    }
  }
}
