.header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: var(--dark);
  display: flex;
  grid-gap: 0.33em;
  min-width: 0px;
  width: 100%;
  height: 54px;
  padding: 0.45em 0.33em;
  font-size: 24px;

  & section {
    min-width: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1,
    & h2 {
      overflow: hidden;
      white-space: nowrap;
    }

    & h1 {
      font-size: 1em;
      margin: 0px;
      text-overflow: clip;
    }

    & h2 {
      text-overflow: ellipsis;
      display: none;
      font-size: 0.33em;
      margin: 0.25em 0px;
    }
  }

  & img {
    min-width: 32px;
    width: 32px;
    height: 100%;
    object-fit: contain;
  }

  @media (--mq-small) {
    position: relative;
    height: 125px;
    font-size: 48px;

    & img {
      min-width: 64px;
      width: 64px;
    }

    & section h2 {
      display: block;
    }
  }
}

.button {
  display: block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.125s ease-in-out;

  & svg {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  @media (--mq-large) {
    display: none;
  }
}
