.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.66em;
  padding: 20px;
  user-select: none;

  @media (--mq-small) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.inner {
  display: grid;
  grid-gap: 1.66em;
  width: 100%;
  max-width: 100%;
  grid-template-columns: auto;

  & main {
    user-select: text;
  }

  & nav {
    display: none;
  }

  @media (--mq-large) {
    grid-template-columns: 360px auto;
    max-width: 1600px;
    & nav {
      display: block;
    }
  }
}
