.inner {
  flex-grow: 1;
  width: 100%;
  max-width: 1600px;
  padding: 20px;

  @media (--mq-small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  display: flex;
  flex-flow: column nowrap;
  gap: 0.66em;

  & > main {
    min-width: 0px;
    user-select: text;
    flex-grow: 1;
    & pre {
      white-space: pre-wrap;
    }
  }

  & > nav {
    display: none;
    min-width: 360px;
    width: 360px;
  }

  @media (--mq-large) {
    flex-flow: row nowrap;
    gap: 1.66em;
    & > nav {
      display: block;
    }
  }
}

.close {
  position: fixed;
  font-size: 1.5em;
  right: 1rem;
  top: 21px;
  height: 32px;
}
