.inner {
  flex-grow: 1;
  width: 100%;
  max-width: 1600px;
  padding: 20px;

  @media (--mq-small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  display: flex;
  flex-flow: column nowrap;
  gap: 0.66em;

  & > main {
    user-select: text;
    flex-grow: 1;
  }

  & > nav {
    display: none;
    min-width: 360px;
    width: 360px;
  }

  @media (--mq-large) {
    flex-flow: row nowrap;
    gap: 1.66em;
    & > nav {
      display: block;
    }
  }
}

/*
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.66em;
  padding: 20px;
  user-select: none;

}

.inner {
  display: grid;
  grid-gap: 1.66em;
  width: 100%;
  max-width: 100%;
  grid-template-columns: auto;

  & main {
    user-select: text;
  }

  & nav {
    display: none;
  }

  @media (--mq-large) {
    grid-template-columns: 360px auto;
    max-width: 1600px;
    & nav {
      display: block;
    }
  }
}
*/
