.nav {
  width: 100%;
  max-width: var(--nav-width, 400px);
}

.navSection {
  position: sticky;
  top: 0.33em;
  display: flex;
  flex-direction: column;
  grid-gap: 0.33em;
  padding: 0.66em;
  white-space: nowrap;
  background-color: var(--dark);
  border-radius: 4px;
}

.link {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-end;
  align-items: center;
  gap: 1.33em;
  width: 100%;
  height: 2em;
  padding-left: 0.66em;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--title);
  color: var(--primary);
  text-decoration: none !important;
  transition: color 250ms ease-in-out;

  @media (--mq-small) {
    gap: 0.33em;
  }

  &.active {
    border: 1px solid var(--hover);
    color: var(--hover);
  }

  &:not(.active) {
    &:hover {
      color: var(--hover);
    }
  }

  & svg {
    display: inline-block;
    color: inherit;
    fill: currentColor;
  }
}
