.section {
  &:not(.inline) {
    position: relative;
    padding-right: 3em;
    min-height: 3.66em;
  }
  &.inline {
    margin: 0.83em 0px;
  }

  & .button {
    display: block;
    background: transparent;
    border: 0px;

    & svg {
      fill: var(--primary);
      transition: transform 0.125s ease-in-out;
    }
    &.open {
      & svg {
        transform: rotate(-90deg);
      }
    }
    &.float {
      position: absolute;
      right: 1.33em;
      top: 1.33em;
    }
    &.inline {
      color: var(--primary);
      font-family: var(--title);
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  & .headline {
    margin-top: 0px;
  }
}
