section.section {
  flex-basis: 100%;
  padding: 0.66em;
  gap: 0.66em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .icon {
    height: 2.66em;
    width: auto;
  }
}
