.button {
  &.inline {
    display: inline-block;
    background: transparent;
    border: 0px;
    margin: 0px 0.25ch;
  }
  & > div {
    gap: 0.33em;
  }
  & svg {
    fill: var(--primary);
  }
  &:hover svg {
    fill: var(--hover);
  }
}
